@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
  --dark-yellow: #f6be00;
}
body {
  background: #222;
}
.container {
  margin: auto;
  max-width: 1500px;
  padding: 2%;
}
.headline {
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  color: var(--dark-yellow);
}
